body{
  background-color: #000;
  font-family: 'Dancing Script', cursive;
}

img{
  box-shadow: 2px 2px #02010a;
  width: 100%
}

header{
  text-align: left;
  color:#fff;
  text-shadow: 2px 0px #02010a;
  border-radius: 10px;
  background-color: #5b7989;
  padding: 15px;
  animation:
}

nav {
    display: inline;
    float: right;
}

nav a {
    padding: 0 15px;
    font-size:20px;
    margin-top: 10px;
    color:#fff;
}

nav a:hover, nav a:focus, nav a:active {
  text-decoration: none;
}

h1 {
    display: inline;
    font-size: 1.5em;
}

#main-container{
  background-color: #82c3a6;
}

#picture1{
  width: 80%
}
#contenido-subpages  .flex-container {
  padding: 0 15px;
}
#contenido-subpages .flex-container:nth-child(1) {
    padding-top: 20px;
}

.flex-container {
  background-color: #d5c75f;
  padding: 15px;
}

.picture2, .picture3 {
    width: 390px;
    margin: 0 26px;
}

#picture2, #picture3 {
    box-shadow: 2px 2px #82c3a6;
    border:2px #000;
}

.picture2:hover, .picture2:focus{
  transform: rotate(10deg);
}

.picture3:hover, .picture3:focus{
  transform: translate(20px, -5px);
}

a.img-links {
    margin-left: 45%;
    line-height: 40px;
    color: #000;
    font-weight: bold;
    font-size: 1.3em;
}

footer{
  border-radius: 10px;
  background-color:#C6d5c5;
  width: 100%;
}

.footer-text a{
  color:#000;
  text-decoration: none;
}
.footer-text strong {
    font-size: 1.5em;
}
.footer-text:first-child {
    padding-top: 0;
}

#contenido, #contenido-subpages{
  width: 100%;
  animation: mymove 2s;
}

@keyframes mymove {
    0%  {margin-top:150%;}
    60% {margin-top:-5%;}
    100% {margin-top:0%;}

}

wrapper > div:nth-child(1) > .paisajes:nth-child(1) {
    filter: blur(10px);
}

wrapper > div:nth-child(1) > .paisajes:nth-child(3) {
    filter: sepia(90%);
}

wrapper > div:nth-child(1) > .paisajes:nth-child(2),
wrapper > div:nth-child(2) > .paisajes:nth-child(1),
wrapper > div:nth-child(2) > .paisajes:nth-child(3) {
    filter: grayscale(100%);
}

@media(min-width:900px){
  .footer-text{
    padding: 20px;
  }
  #contenido, #contenido-subpages{
    width: 900px;
    margin: 0 auto;
  }
  #main-container {
    padding: 5%;
  }
  #contenido-subpages .flex-container {
      padding: 15px;
  }
  footer{
      columns:4;
  }
  .paisajes {
      margin: 0 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .footer-text strong {
    font-size: 1.3em;
  }
}

@media(max-width:900px){

  header{
    text-align: center;
    height: 70px;
  }

  h1 {
    text-align: center;
    display: block;
    margin-top: 0;
  }
  nav {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
  }
  .paisajes img {
    margin-bottom: 20px;
  }
  footer {
    padding: 5%;
    width: 90%;
  }
  #main-container {
    padding: 15px;
  }
}
