body{
  background-color: #000;
  font-family: 'Dancing Script', cursive;
}

a{
  text-decoration: none;
  color:#fff;
}

img{
  box-shadow: 2px 2px #02010a;
  width: 100%
}

header{
  text-align: left;
  color:#fff;
  text-shadow: 2px 2px #02010a;
  border-radius: 10px;
  background-color: #5b7989;
  padding: 15px;
  animation:
}

nav {
    display: inline;
    float: right;
}

nav a {
    padding: 0 15px;
    font-size:20px;
    margin-top: 10px;
}

h1 {
    display: inline;
    font-size: 1.5em;
    float: left;
}

#main-container{
  background-color: #82c3a6;
}

#picture1{
  width: 80%
}

.flex-container {
  background-color: #d5c75f;
  border: 1px #000;
  padding: 15px;
}

#picture2,#picture3{
  width: 40%;
  box-shadow: 2px 2px #82c3a6;
  border:2px #000;
  margin: 0 auto;
}

#picture2:hover{
  transform: rotate(10deg);
}

#picture3:hover{
  transform: translate(20px, -5px);
}

footer{
  border-radius: 10px;
  background-color:#C6d5c5;
  width: 100%;
}

.footer-text a{
  color:#000;
}
.footer-text:first-child {
    padding-top: 0;
}

#contenido{
  width: 100%;
  animation: mymove 2s;
}

@keyframes mymove {
    0%  {margin-top:150%;}
    60% {margin-top:-5%;}
    100% {margin-top:0%;}

}

wrapper > div:nth-child(1) > .paisajes:nth-child(1) {
    filter: blur(10px);
}

wrapper > div:nth-child(1) > .paisajes:nth-child(3) {
    filter: sepia(90%);
}

wrapper > div:nth-child(1) > .paisajes:nth-child(2),
wrapper > div:nth-child(2) > .paisajes:nth-child(1),
wrapper > div:nth-child(2) > .paisajes:nth-child(3) {
    filter: grayscale(100%);
}

@media(min-width:900px){
  .footer-text{
    padding: 20px;
  }
  #contenido{
    width: 900px;
    margin: 0 auto;
  }
  #main-container {
    padding: 5%;
  }
  footer{
      columns:4;
  }
  .paisajes {
      margin: 0 20px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }
}

@media(max-width:900px){

  header{
    text-align: center;
    height: 70px;
  }

  h1 {
    text-align: center;
    display: block;
    margin-top: 0;
  }
  nav {
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
  }
  .paisajes img {
    margin-bottom: 20px;
  }
  footer {
    padding: 5%;
    width: 90%;
  }
  #main-container {
    padding: 15px;
  }
}
